*.coverage
*.DS_Store
*.egg
*.eggs
*.egg-info
*.git
*.rdb
*.sqlite3
*.venv
*.pytest_cache
__pycache__
build
dist
.idea
env/
postgres_data
backups
router_app-data/
media/
*celerybeat-schedule
venv
.venv
